
/* font-family:Anton */
@font-face{
    font-family: Anton;
    src:url('../fonts/Anton/Anton-Regular.ttf');
}

/* font-family:Josefin_Sans */
@font-face{
    font-family:Josefin_Sans;
    src:url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

/* font-family:Poppins */
@font-face{
    font-family:Poppins;
    src:url(../fonts/Poppins/Poppins-Italic.ttf);
}

/* font-family:Ubuntu */
@font-face{
    font-family:Ubuntu;
    src:url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
}