
@import url('../css/fonts.css');


html,body{
    margin:0%;
    box-sizing:border-box;
    overflow-x:hidden;
}

:root{

    /*  Theme colors  */
    --text-grey:#3f4954;
    --text-light:#686666da;
    --bg-color:#0f0f0f;
    --white:#ffffff;
    --midnight:#104f55;

    /* gradient color */
    --sky:linear-gradient(to top, #30cfd0 0%, #330867 100%);


    /*  theme font-family */
    --Poppins:'Poppins','cursive';
    --Anton:'Anton','cursive';
    --Josefin_Sans:'Josefin_Sans','cursive';
    --Ubuntu:'Ubuntu','cursive';
}

.text-grey{
    color: var(--text-grey);
}

/*---------Global Classes--------*/

a{
    text-decoration: none;
    color: black
}

.flex-row{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    font-family: var(--Poppins);
    font-size: 2.5rem;
}

h2{
    font-family: var(--Josefin_Sans);

}

h3{
    font-family:var(--Anton) ;
    font-size: 1.3rem;
}

.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Ubuntu);
    cursor: pointer;
}

span{
    font-family: var(--Josefin_Sans);
}

.container{
    margin: 0 5vw;
}

p{
    font-family: var(--Ubuntu);
    color: var(--text-light);
}

/*-----x----Global Classes----x----*/


/*-------------Navbar-----------*/

.nav{
    background:grey;
    padding:0 2rem;
    height:0rem;
    min-height:20vh;
    overflow:hidden;
    transition: 'height' 1s ease-in-out;
}

.nav.nav-menu{
    justify-content:space-between;
}

.toggle-collapse{
    position: absolute;
    top:0%;
    width:90%;
    cursor:pointer;
}

.toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.toggle-icons i{
    font-size: 1.4rem;
    color: aliceblue;
}

.nav-items{
    list-style-type: none;
    display: flex;
}

.nav.nav-brand a{
    font-size:2rem;
    padding:1rem 0;
    text-decoration:none;
}

/*-----x--------Navbar------x-----*/

.nav-menu{
    justify-content: space-between;
}
.toggle-collapse{
    position: absolute;
    top:0%;
    width:90%;
    cursor:pointer;
}

.toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.toggle-icons i{
    font-size: 1.4rem;
    color: aliceblue;
}

.collapse{
    height: 6px;
}

.nav-items{
    list-style-type: none;
    display:flex;
    margin: 0;
}
.nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: Poppins,cursive;
    font-size: 1.1rem;
}

.nav-link:hover{
    background-color: var(--midnight);
}

.nav-link:hover a{
    color: white;
}
.nav-social{
    padding: 1.4rem 0;
}

.nav-social i{
    padding: 0 .2rem;
}

.nav-social i:hover{
    color:#a1c4cf;
}

.nav-brand{
font-size: 2rem;
padding: 1rem;
    display: block;
    font-family: var(--Anton);
    font-size: 1.6rem;
}


/*-----------Main Site Section-----------*/

/*---------Site Title-----------*/
main.site-title{
    background:url('../assets/profile\ 1.jpg') no-repeat center;
    background-size: cover;
    height:110vh;
}
/*----x-----Site Title------x-----*/


/*-----x------Main Site Section------x-----*/

.site-title{
    display: flex;
    background: url('../assets/banner.jpg');
    background-size: cover;
    height: 100vh;
    justify-content: center;
}

.site-background{
    padding-top: 10rem;
    text-align: center;
}

.site-title h1,h3{
    margin: 0.3rem;
}

.btn{
    margin: 1.8rem;
    color: var(--sky);
}

.btn:hover{
    background: transparent;
    border: 1px solid var(--white);
    color: #330867;
}


.blog{
    background: url('../assets/4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    zoom:0%;
}

.blog-post{
    padding: 6rem;
}

.blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 2rem 1rem;
    box-shadow: 0 10px  15px rgba(0,0,0,0.2);
}

.blog-title{
    padding: 2rem 0;
    color: black;
}

.btn-blog{
    padding: .7rem 2rem;
    margin: .5rem;
    color: #330867;
}

.blog-content span{
    display: block;
}

.owl-nav{
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}

.owl-nav-prev{
    color: gray;
    background: transparent;
    font-size: 2rem;
}
.owl-nav-next{
    color: gray;
    background: transparent;
    font-size: 2rem;
}

.owl-nav[class*='owl-']:hover{
    background: transparent;
    color:var(--midnight);
}
.site-titlee{
    display:block;
    background: url('../assets/ryan-shumway--n5F3fH0lIY-unsplash.jpg');
    background-size:inherit;
    
}

.site-content{
    display: grid;
    height: auto;
    min-height: 30vh;
    grid-template-columns: 70% 30%;
    margin: 3rem 2rem;
    margin-right: 3rem;
}

.post-content{
    width: 80%;
    margin-bottom: 5rem;
    margin-right: 3rem;
    color: var(--sky);
}

.post-image{
    padding: 1rem 3rem;
    position: relative;
    transition: all 1s ease;
}

.post-title{
    padding: 1rem 2rem;
    position: relative;
    color: var(--sky);
}

.post-info{
    background: var(--sky);
    padding: 1rem 1rem;
    position: absolute;
    bottom: 0%;
    left: 20vh;
}

.post-info span{
    margin: 0 .5rem;
}

.post-title a{
    font-family: var(--Anton);
    font-size: 1.5rem;
}

.post-image:hover{
    transform: scale(1.3);
}

.post-btn{
    border-radius: 0;
    padding: .9rem 1.5rem;
    background: var(--sky);
}

.pagination{
    display: flex;
    justify-content: center;
    color: var(--text-grey);
    margin: 4rem 0;
}

.pagination a{
    justify-content: center;
    color: black;
    padding: .6rem .9rem;
    border-radius: 2rem;
    margin: 0 .3rem;
    font-family: var(--Anton);
}

.pages{
    background: var(--sky);
    color: antiquewhite;
}
.pages :hover{
    color: white;
}


.category-list{
    font-family: var(--Ubuntu);
}

.list-items{
    background: var(--sky);
    padding: .4rem 1rem;
    margin: .8rem 0;
    border-radius: 3rem;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.list-items a{
    color: black;
}

.popular-post .post-content{
    padding: 1rem 0;
}

.popular-post h2{
    padding-top: 5rem;
}



.form-element{
    padding: .5rem 2rem;
}

.input-element{
    width: 80%;
    height: 1.9rem;
    padding: .3rem .5rem;
    font-family: var(--Ubuntu);
    font-size: 1rem;
}

.form-btn{
    border-radius: 0;
    padding: .8rem 32%;
    margin: 1rem 0;
    background: var(--sky);
}

.popular-tags{
    padding: 4rem 0;
}

.tags{
    background: var(--sky);
    padding: .4rem 1rem;
    border-radius: 3rem;
    margin: .4rem .6rem;
}

.footer{
    height: 100%;
    background: black;
    position: relative;
}

.containers{
    display: grid;
    color: white;
    grid-template-columns: 50% 50%;
    width: 1fr;
}

.containers >div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

.about-us h2{
    color: white;
}

.Follow-us h2{
    color: white;
}


.Follow-us div i{
    color: var(--white);
    padding: 0 .4rem;

}

.rights{
    justify-content: center;
    font-size: var(--Ubuntu);
}

.rights h4 a{
    color: var(--white);
}

.move-up{
    position: absolute;
    right: 6%;
    top: 50%;
}

.move-up span{
    color: var(--midnight);
}

.move-up span:hover{
    color: var(--white);
    cursor: pointer;
}


@media only screen and (max-width:1130px){
    .post-info{
        left:2rem !important;
        bottom:1.2rem !important;
        border-radius: 0% !important;
    }

    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}


/*    Viewport less than or equal to 750px    */

@media only screen and (max-width:750px){
    .nav{
        background: purple;
        flex-direction: column;
    }

    .toggle-collapse{
        display: initial;
    }

    .site-content{
        grid-template-columns: 100%;
    }
}


/*  x  Viewport less than or equal to 750px  x  */

@media only screen and (max-width:520px){
    .blog{
        height: 125vh;
    }

    .post-info{
        display: none;
    }

    .rights{
        padding: 0 1.4rem;
        text-align: center;
    }

    .toggle-collapse{
        width: 80% !important;
    }

    .Black-hole p{
        font-family: var(--Anton);
        font-size: medium;
        color: aliceblue;
    }
    
    .img{
        display:block;
        width:40vh;
        height: 50vh;
       
    }
    
}
