
@import url(../styles.css);

html,body{
    margin:0%;
    box-sizing:border-box;
    overflow-x:hidden;
}

:root{

/*  theme font-family */
--Poppins:'Poppins',cursive;
--Anton:'Anton',cursive;
--Josefin_Sans:'Josefin_Sans',cursive;
--Ubuntu:'Ubuntu',cursive;

/* gradient color */
--sky:linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.flex p{
    padding: 2rem 3rem;
    font-size: 2rem;
    font-family: var(--Ubuntu);
    color: var(--sky);
}